@use '@/styles/mixins/fonts';
@use '@/styles/vars' as *;

.detail_title {
  @include fonts.rem(36);
  border-bottom: 1px solid rgba($text, 0.1);
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.detail_img {
  margin-bottom: 30px;
  img {
    aspect-ratio: 16/9;
    background-color: #eee;
    display: block;
  }
}

.detail_buttons {
  margin-top: 40px;
}

.detail_content {
  h2 {
    color: $link;
    @include fonts.rem(24);
    font-weight: 500;
    margin-top: 30px;
  }
}
