@use '@/styles/vars';
@use '@/styles/mixins/fonts';

.header {
  border-bottom: 1px solid rgba(#000, 0.07);
}

.header_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 12px;
  @include fonts.rem(28);
  font-weight: bold;

  a {
    display: block;
    color: vars.$text;
  }
}

.header_icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: vars.$link;
  font-size: 40px;
}

.header_menu {
  color: vars.$link;
  @include fonts.rem(24);
}
